@charset "utf-8";

*{margin:0; padding:0;}
li {list-style: none;}
a {
    text-decoration: none;
    display: block;
    color: #333;
}
html, body {
    color: #333;
}
/* basic---------------------------------------------- */
/* header */
.header {
    height: 80px;
    line-height: 80px; /* 수직정렬 이미지는 적용 안될 수 있음*/
}
.header div {
    width: 1280px;
    height: 100%;
    position: relative;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.header div h1 a {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateZ(50%);
}
/* 메인비주얼 */
.main_visual {
    width:100%;
    height: 800px;
    background: url('../images/visual1-3.jpg') center center / cover no-repeat;
    background-attachment: fixed;
     color: #fff;
     display: flex;
     align-items: center;
     justify-content: center; /* 수직수평가운데 정렬 */

}
.main_visual div {
    text-align: center;
}
.main_visual div h2 {
    font-size: 80px;
}
.main_visual div p {
    font-size: 40px;
    margin-top: 30px;
    color: rgba(255, 255, 255, 0.7);
}
/* best portfolio 베스트 포트폴리오 */
.best {
    margin: 150px 0;/* 위아래 같게 적용시켜줘야 */
}
.best h3 {
    font-size: 45px;
    text-align: right;
    width: 1280px;/* 컨테이너 중심축을 맞춰서 정렬시키기 위해 */
    margin: 0 auto;
}
.best .bg {
    background-color: #eee;
    padding: 100px 0;
}

.best .best_box {
    width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}
.best .bg .best_box {
    margin-bottom: 0;
}
.best .best_box .info {
    width:40%;/* 좁게하고 싶을때 비율조절 */

}
.best .best_box .info .cate {
    font-size: 18px;
    font-weight: bold;
}
.best .best_box .info h4 {
    font-size: 30px;
}
.best .best_box .info .text {
   margin-top: 20px;
   margin-bottom: 40px;
   line-height: 1.5;/* 16px*1.5=>값 24 */
}
.best .best_box .info dl {
    display: flex;
    margin-bottom: 10px;
}
.best .best_box .info dt {
    width: 28%;
    font-weight: bold;    
}
.best .best_box .info ul {
    display: flex;
    margin-top: 30px;
}
.best .best_box .info ul li{
    height: 45px;
    line-height: 45px;
    border: 1px solid #333;
    margin-right: 10px;
}
.best .best_box .info ul li a {
    padding: 0 25px;/* width로 안하는 이유는 각각 여백이 달라져서 
    또 a한테 잡아줘야 이게 적용이 됨*/
}
.best .best_box .info ul li:first-of-type {
    background-color: #333;
}
.best .best_box .info ul li:first-of-type a {
    color: #fff; 
}
.best .best_box .youtube_list {
    width: 55%;/* 좁게하고 싶을때 비율조절 */
}
.best .best_box .youtube_list div {
    width: 100%;
    padding-bottom: 56.25%;/* 16:9 맞추기 */
    position: relative;
}
.best .best_box .youtube_list div iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.best .best_box .web_design {
    width: 50%;
}
.best .best_box .web_design figure{
    width: 100%;
}
.best .best_box .web_design figure img{
    width: 100%;
}
/* 카테고리별 유튜브 적용 */
.youtube_wrap {
    margin: 150px 0;
}
.youtube_wrap .youtube_menu {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.youtube_wrap .youtube_menu li {
    height: 45px;
    line-height: 45px;
    padding: 0 30px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin: 0 5px;
}
.youtube_wrap .youtube_menu li.on {
    background-color: #333;
    box-shadow: 2px 3px 20px rgba(0, 0, 0, 0.3); 
}
.youtube_wrap .youtube_menu li.on a {
    color: #fff; 
}
.youtube_wrap .youtube_cont .menu_cont {
    width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;/* 부모 공간이 부족하면 수직으로 
    밑으로 떨어지게 해주는거 자동으로 */
    display: none;
}
.youtube_wrap .youtube_cont .menu_cont .on {
    display: block;

}
.youtube_wrap .menu_cont .box {
    width: 49%;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-bottom: 30px; /* 옆 마진 이거 하면 자연스럽게 떨어지게 됨. */
}
.youtube_list {
    width:100%;
}
.youtube_list div{
    width: 100%;
    padding-bottom: 56.25%;
    position: relative;
}
.youtube_list div iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.youtube_wrap .menu_cont .box .info {
    padding: 30px;
}
.info h4 {
    font-size: 30px;
    margin-bottom: 20px;
}
.info dl {
    display: flex;
    margin-bottom: 10px;
}
.info dl dt {
    width: 20%;
    font-weight: bold;
}
.info dl dd a {
    text-decoration: none;
    font-weight: bold;
}
.info dl dd:hover a {
    text-decoration: underline;
}
h3 {
    font-size: 45px;
    text-align: center;
    margin-bottom: 40px;
}
/* 2디 디자인 */
.g_design {
    background-color: #ccc;
    padding: 100px 0;
}
.g_design em {
    width:1280px;
    margin: 0 auto;
    display: block;
    text-align: right;
}
.g_design .img_list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.g_design .img_list div{
    width: 24%;

}
.g_design .img_list div figure{
    width: 100%;
    height: 100px;
    object-fit: cover;
}
.g_design .img_list div figure img {
    width: 100%;
    height: 100%;
    transition: 1s;
    object-fit: cover;
}
.g_design .img_list div ul{
    padding: 20px;
    background-color: #fff;
}
.g_design .img_list div ul li:first-of-type {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 7px;
}
.g_design .img_list div:hover {
    box-shadow: 2px 3px 20px rgba(0,0,0,0.3);
}
.g_design .img_list div:hover figure img {
    transform: scale(1,2);
}
/* footer ----*/
footer {
    background-color: #333;
    color: #fff;
    padding: 100px 0;
    text-align: center;
}
footer a {
    color: #fff;
}
footer ul li {
    width: 220px;
    height: 50px;
    line-height: 50px;
    border: 1px solid #fff;
    margin: 10px auto;
    border-radius: 50px;
    color:#fff;
}
footer ul li:first-of-type {
    background-color: #fff;
    font-weight: bold;
}
footer ul li:first-of-type a {
    color:#333
}
footer p {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 20px;
}